$icomoon-font-path: "fonts" !default;

$icon-thumbsup: "\e900";
$icon-gift: "\e901";
$icon-organization: "\f037";
$icon-person: "\f018";
$icon-heart: "\e902";
$icon-sound: "\e903";
$icon-user: "\e904";
$icon-bulb: "\e905";
$icon-phone: "\e906";
$icon-like: "\e907";
$icon-megaphone: "\e908";
$icon-study: "\e909";
$icon-calendar: "\e90a";
$icon-wallet: "\e90b";

