.team-score {
    .weui-label {
        width: 68px;
        color: #333;
        font-size: 14px;
    }
    &-icon-container {
        margin-top: 20%;
        text-align: center;
        div {
            margin-top: 1em;
        }
    }
}